body {
	text-align: center;
	font-family: sans-serif;
}

#main-container {
	width:1000px;
	margin:0px auto;
	text-align:left;
}

.board {		
	border:1px solid #333;
	
	background-color:#F1F2F5  ;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-left: 5px;
}

#header {
	padding:0px;
}

#footer {
	clear:both;
	margin-top:10px;
	padding-top: 10px;
	font-size: 12px;
	height: 45px;
}

#bookmarks {
	margin: 0;
	padding: 0;	
	font-size: 19px;
}
.bookmark {
	width: 243px;
	display: block;
	float: left;
	margin-bottom: 0px;
}

/* dirty */

#configuration {
	border-right: none;
	width: 244px;
}

#about {
	border-right: none;
	width: 244px;
}

#download {
	border-right: none;
	width: 244px;
}

/************/

.bookmark:HOVER {
	cursor: pointer;
	background-color: #DEE9FC;
}

.marked-bookmark {
	background-color: #DEE9FC;
}
.marked-bookmark:HOVER {
	cursor:default;
}
#content {
	clear: both;
	padding: 5px;
	font-size: 14px;
	padding-bottom: 15px;
}


.bookmark-content {
	visibility: hidden;
	display: none;
}

li {
	list-style-image: url("img/map4rdfLogoMin.png");
}

.float-div {
	width: 490; 
	float: left;
}
.small-wrapper {
 	clear: both;
 	padding-bottom: 15px;
 	padding-top: 10px;
}
.small-div {
	float: left;
	padding-left:10px;
	height: 60px;
}

.small-div-text {
	position: relative;
	top: 20px;
}

.with-border {
	border: solid;
	border-width: 1px;
	border-color: black;
}